In [1]:
import pandas as pd
import numpy as np

In [19]:
path = "./wholesale.csv"

df = pd.read_csv(path)
df.head()

,Ad set budget,Attribution setting,Results,Result indicator,Reach,Impressions,Cost per results,Amount spent (USD),Reporting starts,Reporting ends,campaign_type,budget($),duration(days),content
0,Using_ad_set_budget,7day_click/1_day_view,294,post_engagement,3356,3463,0.005816,1.71,2024-03-01,2024-03-31,Engagement,10,4,Post: Elevate your hair game with Schwarzkopf...
1,Using_ad_set_budget,7day_click/1_day_view,25597,reach,25597,25597,0.031644,0.81,2024-03-01,2024-03-31,Reach,5,4,Post : Elevate your hair game with Schwarzkop...
2,Using_ad_set_budget,7day_click/1_day_view,99,link_click,6241,6576,0.008283,0.82,2024-03-01,2024-03-31,More Visitor,5,4,Post : Elevate your hair game with Schwarzkop...
3,Using_ad_set_budget,7day_click/1_day_view,359,post_engagement,5266,5849,0.004652,1.67,2024-03-01,2024-03-31,Engagement,10,4,Post : Coca-Cola Light is now available at Wh...
4,Using_ad_set_budget,7day_click/1_day_view,23067,reach,23067,23703,0.033815,0.78,2024-03-01,2024-03-31,Reach,5,4,Post: Coca-Cola Light is now available at Who...

In [7]:
df.describe()

,Results,Reach,Impressions,Cost per results,Amount spent (USD),budget($),duration(days)
count,211.000000,211.000000,211.000000,204.000000,211.000000,211.000000,211.000000
mean,30565.473934,47478.924171,64185.156398,0.304482,23.396682,9.658768,3.957346
std,60406.435715,57299.490103,92471.893681,1.131165,57.127717,28.516447,0.879979
min,1.000000,334.000000,349.000000,0.001634,0.390000,5.000000,2.000000
25%,74.000000,7173.500000,9587.500000,0.008919,5.000000,5.000000,4.000000
50%,639.000000,20007.000000,27211.000000,0.042363,6.110000,5.000000,4.000000
75%,7235.500000,78317.500000,105109.000000,0.288114,15.000000,10.000000,4.000000
max,381692.000000,381692.000000,827573.000000,14.973000,449.190000,400.000000,10.000000

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 211 entries, 0 to 210
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Ad set budget        211 non-null    object
 1   Attribution setting  211 non-null    object
 2   Results              211 non-null    int64
 3   Result indicator     204 non-null    object
 4   Reach                211 non-null    int64
 5   Impressions          211 non-null    int64
 6   Cost per results     204 non-null    float64
 7   Amount spent (USD)   211 non-null    float64
 8   Reporting starts     211 non-null    object
 9   Reporting ends       211 non-null    object
 10  campaign_type        211 non-null    object
 11  budget($)            211 non-null    int64
 12  duration(days)       211 non-null    int64
 13  content              208 non-null    object
dtypes: float64(2), int64(5), object(7)
memory usage: 23.2+ KB

In [15]:
df.isna().sum()

Ad set budget          0
Attribution setting    0
Results                0
Result indicator       7
Reach                  0
Impressions            0
Cost per results       7
Amount spent (USD)     0
Reporting starts       0
Reporting ends         0
campaign_type          0
budget($)              0
duration(days)         0
content                3
dtype: int64

In [21]:
df['Ad set budget'].value_counts()

Ad set budget
Using_ad_set_budget    205
3                        1
2                        1
65.68                    1
10                       1
36                       1
30                       1
Name: count, dtype: int64

In [162]:
df[df['Ad set budget'] != 'Using_ad_set_budget']

,Ad set budget,Attribution setting,Results,Result indicator,Reach,Impressions,Cost per results,Amount spent (USD),Reporting starts,Reporting ends,campaign_type,budget($),duration(days),content
154,3,7day_click/1_day_view,326,os.messaging_started_7d,24202,67913,0.299448,97.62,2024-03-01,2024-03-31,Agency,5,4,Post:
158,2,7day_click/1_day_view,158,like,2229,3196,0.058924,9.31,2024-03-01,2024-03-31,Real Estate,5,4,Post:
159,65.68,7day_click/1_day_view,50,os.messaging_started_7d,17784,27235,0.304200,15.21,2024-03-01,2024-03-31,Educational institution,65,4,Post:
167,10,7day_click/1_day_view,11,os.messaging_started_7d,3637,4971,0.709091,7.80,2024-03-01,2024-03-31,Real Estate,5,5,"5 Days| Msg| 2nd | Feb-29| Post: ""Transform ..."
180,36,7day_click/1_day_view,544,like,7284,12979,0.066176,36.00,2024-03-01,2024-03-31,Real Estate,5,4,Post:
208,30,7day_click/1_day_view,27,os.messaging_started_7d,7827,11455,0.367407,9.92,2024-03-01,2024-03-31,Fast food industry,5,4,Post:

In [164]:
df['Attribution setting'].value_counts()
# drop this column

Attribution setting
7day_click/1_day_view    211
Name: count, dtype: int64

In [166]:
df['Reporting ends'].value_counts()
# both start and end is the same for every entry so drop this as well

Reporting ends
2024-03-31    211
Name: count, dtype: int64

In [168]:
df['Result indicator'].value_counts()

Result indicator
os.messaging_started_7d    61
reach                      51
post_engagement            49
link_click                 24
os.lead_grouped            12
like                        7
Name: count, dtype: int64

In [170]:
df['content'].value_counts()

content
Post:                                                                                                                            45
 Post : Exciting weekend deal! Get fresh groceries, meat, fish, vegetables, and fruits at amazing prices from Wholesale Club.     7
 Post : Stock up on the freshest groceries this weekend!                                                                          5
 2 Ads |                                                                                                                          3
 Post : Keep your hands clean and fresh with new Watsons Gel Hand Washes!                                                         3
                                                                                                                                 ..
 Post: Exciting weekend deal! Get fresh groceries, meat, fish, vegetables, and fruits at amazing prices from Wholesale Club.      1
  post : Experience global flavors with our Ramadan Special Discount at Wholesale Club Ltd!                                       1
 Post ; Experience global flavors with our Ramadan Special Discount at Wholesale Club Ltd!                                        1
 Post : Beat the heat this Ramadan with refreshing drinks from Wholesale Club!                                                    1
  Post: 𝐒𝐭𝐮𝐝𝐲 𝐕𝐨𝐜𝐚𝐭𝐢𝐨𝐧𝐚𝐥 𝐏𝐫𝐨𝐠𝐫𝐚𝐦 𝐢𝐧 𝐅𝐢𝐧𝐥𝐚𝐧𝐝 𝐟𝐨𝐫 𝐟𝐫𝐞𝐞                                                                              1
Name: count, Length: 113, dtype: int64

In [172]:
# Make a copy of the original DataFrame
df_copy = df.copy()
columns_list = [
    "Ad set budget", 
    "Attribution setting", 
    "Results", 
    "Result indicator", 
    "Reach", 
    "Impressions", 
    "Cost per results", 
    "Amount spent (USD)", 
    "Reporting starts", 
    "Reporting ends", 
    "campaign_type"
]

df_copy = df_copy.drop(columns=columns_list)

# Debugging: Check what the regex catches 
# worked
# df_copy['check'] = df_copy['content'].str.extract(r'(?i)\b(post)\b[\s;:]*', expand=False)

df_copy

df_copy['category'] = df_copy['content'].str.extract(r'(?i)\b(post)\b[\s;:]*', expand=False)

df_copy['category'] = df_copy['category'].fillna(df_copy['content'])


# Count occurrences of each category
category_counts = df_copy['category'].value_counts()

print(category_counts)

category
Post                                                                169
post                                                                 26
 2 Ads |                                                              3
 2 Ads | March 27 |                                                   2
 Start your morning with fresh bread from Wholesale Club Bakery!      1
 2 Ads | 2post: March |                                               1
 2 Ads | March 2post:|                                                1
 2 Ads | march 27|                                                    1
 2 Ads | march 30 |                                                   1
  Amanat Khan Bari BZ’2post:                                          1
 Commercial Lead Form BZ 2post:                                       1
 CTG                                                                  1
Name: count, dtype: int64

In [174]:
df['budget($)'].sum()

2038

In [176]:
df['Amount spent (USD)'].sum()

4936.700000000001

In [178]:
cleaned_df = df.drop(['Reporting ends','Attribution setting', 'Reporting starts','Reporting ends', 'content', 'Ad set budget'], axis=1)

In [190]:
cleaned_df = cleaned_df.rename(columns={'campaign_type': 'campaign type'})
cleaned_df.head()

,Results,Result indicator,Reach,Impressions,Cost per results,Amount spent (USD),campaign type,budget($),duration(days)
0,294,post_engagement,3356,3463,0.005816,1.71,Engagement,10,4
1,25597,reach,25597,25597,0.031644,0.81,Reach,5,4
2,99,link_click,6241,6576,0.008283,0.82,More Visitor,5,4
3,359,post_engagement,5266,5849,0.004652,1.67,Engagement,10,4
4,23067,reach,23067,23703,0.033815,0.78,Reach,5,4

In [196]:
cleaned_df1 = cleaned_df.drop(['Cost per results'], axis=1)
cleaned_df1.head()

,Results,Result indicator,Reach,Impressions,Amount spent (USD),campaign type,budget($),duration(days)
0,294,post_engagement,3356,3463,1.71,Engagement,10,4
1,25597,reach,25597,25597,0.81,Reach,5,4
2,99,link_click,6241,6576,0.82,More Visitor,5,4
3,359,post_engagement,5266,5849,1.67,Engagement,10,4
4,23067,reach,23067,23703,0.78,Reach,5,4

In [208]:
cleaned_df1['cost_per_result'] = ( cleaned_df1['Amount spent (USD)']/cleaned_df1['Results'])
cleaned_df1 = cleaned_df1.drop(['Cost/Result'], axis=1)

cleaned_df1.head()

,Results,Result indicator,Reach,Impressions,Amount spent (USD),campaign type,budget($),duration(days),cost_per_result
0,294,post_engagement,3356,3463,1.71,Engagement,10,4,0.005816
1,25597,reach,25597,25597,0.81,Reach,5,4,0.000032
2,99,link_click,6241,6576,0.82,More Visitor,5,4,0.008283
3,359,post_engagement,5266,5849,1.67,Engagement,10,4,0.004652
4,23067,reach,23067,23703,0.78,Reach,5,4,0.000034

In [218]:
cleaned_df1.rename(columns= {'Results': 'results',	'Result indicator': 'result_indicator',	'Reach': 'reach',	'Impressions': 'impressions',
                             'Amount spent (USD)': 'amount_spent',	'campaign type': 'campaign_type',	'budget($)': 'budget', 	'duration(days)': 'duration_days'
                            }, inplace=True)
cleaned_df1.head()

,results,result_indicator,reach,impressions,amount_spent,campaign_type,budget,duration_days,cost_per_result
0,294,post_engagement,3356,3463,1.71,Engagement,10,4,0.005816
1,25597,reach,25597,25597,0.81,Reach,5,4,0.000032
2,99,link_click,6241,6576,0.82,More Visitor,5,4,0.008283
3,359,post_engagement,5266,5849,1.67,Engagement,10,4,0.004652
4,23067,reach,23067,23703,0.78,Reach,5,4,0.000034

In [222]:
cleaned_df1.to_csv('cleaned_wholeslanl.csv', index=False)

In [228]:
cleaned_df1.loc[cleaned_df1['duration_days'] == 3]

,results,result_indicator,reach,impressions,amount_spent,campaign_type,budget,duration_days,cost_per_result
39,639,NaN,18458,22320,10.0,Engagement,10,3,0.015649
40,117343,reach,117343,117985,5.0,Reach,5,3,0.000043

In [232]:
df.loc[df['duration(days)'] == 3].content

39     Post: Celebrate Women's Day with a delicious ...
40     Post : Celebrate Women's Day with a delicious...
Name: content, dtype: object

In [236]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 211 entries, 0 to 210
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Ad set budget        211 non-null    object
 1   Attribution setting  211 non-null    object
 2   Results              211 non-null    int64
 3   Result indicator     204 non-null    object
 4   Reach                211 non-null    int64
 5   Impressions          211 non-null    int64
 6   Cost per results     204 non-null    float64
 7   Amount spent (USD)   211 non-null    float64
 8   Reporting starts     211 non-null    object
 9   Reporting ends       211 non-null    object
 10  campaign_type        211 non-null    object
 11  budget($)            211 non-null    int64
 12  duration(days)       211 non-null    int64
 13  content              208 non-null    object
dtypes: float64(2), int64(5), object(7)
memory usage: 23.2+ KB

In [244]:
cleaned_df1.loc[cleaned_df1['result_indicator'] == 'reach'].reach.sum()

6290800

In [246]:
cleaned_df1.result_indicator.value_counts()

result_indicator
os.messaging_started_7d    61
reach                      51
post_engagement            49
link_click                 24
os.lead_grouped            12
like                        7
Name: count, dtype: int64

In [248]:
cleaned_df1.loc[cleaned_df1['result_indicator'] == 'reach'].amount_spent.sum()

350.43